<dl>
    <dt>
    <div class="left"><span class="choice" ng-class="{on:item.state}" ng-click="itemChange(index)"></span></div>
    <div class="right">
        <img ng-src="{{item.src}}"/>
    </div>
    </dt>
    <dd>
        <h2>{{item.name}}</h2>
        <p>{{item.type}}</p>
        <p>￥{{item.price}}</p>
        <span class="delete" ng-click="deleteItem(index)">×</span>
        <p class="number"><span class="reduce">-</span><input type="text"/><span class="plus">+</span></p>
    </dd>
</dl>
<!--
<dl>
    <dt>
    <div class="left"><input type="checkbox"/></div>
    <div class="right">
        <img src="Content/images/photo1.jpg" alt=""/>
    </div>
    </dt>
    <dd>
        <h2>Casio/卡西欧 EX-TR350</h2>
        <p>白色</p>
        <p>￥5999.88</p>
        <span class="delete">×</span>
        <p class="number"><span class="reduce">-</span><input type="text"/><span class="plus">+</span></p>
    </dd>
</dl>-->
